<article class="{{post-class}} post-card">
	{{#if feature_image}}
		<a class="post-card__link" href="{{url}}">
			<img class="post-card__image" src="{{feature_image}}">
			</img>
		</a>
	{{/if}}

	<div class="post-card__content">
		<a href="{{url}}">
			<h2>{{title}}</h2>
		</a>

		<p>{{excerpt words="36"}}...</p>
		<a class="post-card__read-more" href="{{url}}">Read More &rarr;</a>
	</div>
</article>