<article class="{{post-class}} post-card">
	<div class="post-card__container post-card__container--left">
		{{#if feature_image}}
			<a class="post-card__link" href="{{url}}">
				<img class="post-card__image" src="{{feature_image}}">
				</img>
			</a>
		{{/if}}
	</div>
	<div class="post-card__container post-card__container--right">
		<div class="post-card__content">
			<a href="{{url}}">
				<h2>{{title}}</h2>
			</a>
			<p class="post-card__excerpt">{{excerpt characters="140"}}...</p>
			{{#if tags}}
				<div class="tag">
					<ul class="tag__list">
						{{#foreach tags}}
						<li class="tag__item">
							<a class="tag__link" href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
						</li>
						{{/foreach}}
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
</article>