{{!< default }}

{{#post}}

	{{> header}}
	<main class="post">
		<article class="post__main {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
			<header class="post__header">
				<h1 class="post__header-text">{{title}}</h1>
			</header>

			<section class="post__meta">
				<time class="post__date" datetime="{{date format="MMMM DD YYYY"}}">
					{{date format="MMMM DD YYYY"}}
				</time>
				{{tags prefix=" in "}}
			</section>

			{{#if feature_image}}
				<figure class="post__image" style="background-image: url({{feature_image}})">
				</figure>
			{{/if}}

			<section class="post__content">
				{{content}}
			</section>

			{{#next_post}}
			<section class="post__nav post__nav--next">
				<a href="{{url}}">&larr; {{title}}</a>
			</section>
			{{/next_post}}
			{{#prev_post}}
			<section class="post__nav post__nav--prev">
				<a href="{{url}}">{{title}} &rarr;</a>
			</section>
			{{/prev_post}}

			{{> footer}}

		</article>
	</main>

{{/post}}